.active .nav-link {
  color: var(--cui-sidebar-nav-link-hover-color, rgba(255, 255, 255, 0.87));
  text-decoration: none;
  background: var(--cui-sidebar-nav-link-hover-bg, rgba(255, 255, 255, 0.05));
}
.sidebar-nav .accordion-button {
  background: transparent;
  color: white ;
  border: none;
}
.sidebar-nav .accordion-button:focus{
  box-shadow: none;
}
.simplebar-wrapper .nav-item {
  padding: 10px;
  color: white;
  transition: 0.3s;
}
.simplebar-wrapper .active .nav-item {
  background-color: hsla(0,0%,100%,.05);
}
.simplebar-wrapper .accordion-header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.simplebar-wrapper .accordion-header svg {
  margin-right: 10px;
}